process {

    errorStrategy = 'terminate'

    withName: checkm {
        container = 'metashot/checkm:1.1.2-2'   
        cpus = check_max(8, params.max_cpus)
        memory = check_max(76.GB, params.max_memory)
        time = params.max_time
    }
 
    withName: barrnap {
        container = 'metashot/barrnap:0.9-1'
        cpus = check_max(2, params.max_cpus)
        memory = check_max(2.GB, params.max_memory)
        time = params.max_time
    }

    withName: trnascan_se {
        container = 'metashot/trnascan-se:2.0.6-2'
        cpus = check_max(2, params.max_cpus)
        memory = check_max(2.GB, params.max_memory)
        time = params.max_time
    }

    withName: 'genome_info|derep_info|genome_filter' {
        container = 'metashot/utils:1.1.0-2'
        cpus = check_max(2, params.max_cpus)
        memory = { check_max(4.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: drep {
        container = 'metashot/drep:2.6.2-2'
        cpus = check_max(8, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: gunc_db_download {
        container = 'metashot/gunc:1.0.5-1'   
        cpus = check_max(4, params.max_cpus)
        memory = check_max(4.GB, params.max_memory)
        time = params.max_time
    }

    withName: gunc {
        container = 'metashot/gunc:1.0.5-1'   
        cpus = check_max(8, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
    }
}